@CHARSET "ISO-8859-1";
<!-- For Pagination -->
ul.paginator {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.paginator li {display: inline;}

ul.paginator li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.paginator li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.paginator li a:hover:not(.active) {background-color: #ddd;}

